.sectionhome {
  display: flex;
  align-items: stretch;
  gap: 2%;
  margin-bottom: 100px;

  .text {
    width: 59%;

    border: 1px solid var(--font);
    background-color: var(--bg);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      padding: 0 30px;
    }
  }

  .img {
    display: flex;
    width: 39%;

    img {
      width: 100%;
      min-height: 350px;
      max-height: 420px;
      object-fit: cover;
      border-radius: 10px;

      filter: drop-shadow(0px 0px 3px var(--font));
    }
  }

  &.rev {
    flex-direction: row-reverse;
  }
}