.contacts {
    // background-image: url('../../../public/contacts.jpg');
    // background-size: contain;
    padding-bottom: 30px;

    background: rgb(250, 255, 0);
    background: linear-gradient(90deg, rgba(250, 255, 0, 1) 0%, rgba(255, 0, 0, 1) 14%, rgba(129, 255, 0, 1) 27%, rgba(0, 0, 0, 1) 41%, rgba(255, 0, 249, 1) 52%, rgba(255, 255, 255, 1) 64%, rgba(0, 255, 235, 1) 73%, rgba(255, 184, 0, 1) 81%, rgba(249, 255, 0, 1) 93%);
    background-size: 1rem;

    .formmail {
        .tit {
            margin-bottom: 20px;
        }

        .form {
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 4px;

            input,
            textarea {
                resize: none;
                width: 100%;
                height: 30vh;
                background-color: var(--bg);
                color: var(--font);
                outline: none;
                border: 2px solid var(--font);
                border-radius: 4px;
            }

            input {
                height: 30px;
                margin-bottom: 20px;
            }

            textarea {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin-bottom: 30px;
            }

        }
    }

    .btt {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 50%;
            min-width: 200px;
        }
    }
}