:root {
  /* light palette */
  --font: #001011;
  --bg: #EBEBEB;
  --red: #bb2e2e;
  --grey: #6B818C;
  --bgtrans: #001011f1;
  --imgB: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

  color: var(--font);
  background-color: var(--bg);

}

a {
  text-decoration: none;
}

span.tit {
  font-size: max(2cqmin, 1rem)
}

span.bigtit {
  font-size: max(4cqmin, 1.8rem)
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--red) var(--bg);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 20px;
}

* {
  z-index: 2;
}

button {
  background: var(--bg);
  color: var(--font);
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
  letter-spacing: 0.3rem;
  transition: all 0.4s;

  border: 2px solid var(--font);
  border-color: transparent;
  border-bottom-color: var(--font);
}

button a {
  color: var(--font);
  letter-spacing: 0.3rem;
  transition: all 0.4s;
}

button:hover {
  border-color: var(--font);

  color: var(--font);
  letter-spacing: 0.4rem;
}

button:hover a {
  color: var(--font);
  letter-spacing: 0.4rem;

}

button:hover span {
  color: var(--font);
  letter-spacing: 0.4rem;
}


#sizereact {
  font-size: max(2cqmin, 1rem);
}