.landing {
    display: flex;
    justify-content: center;
    align-items: center;

    .right,
    .left {
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            a {
                text-decoration: none;
                font-size: 5cqmin;
                font-weight: 700;

                color: transparent;
                -webkit-text-stroke: 2px var(--font);
                letter-spacing: 0.2rem;

                transition: all 700ms;
            }
        }

        hr {
            height: 4px;
            border: none;
            background-color: black;
            width: 0;
            transition: all 200ms;
        }

        .l {
            text-align: center;

        }

        .l:hover {
            hr {
                width: 100%;
            }
        }
    }

    .left {
        position: relative;
        overflow: hidden;

        .bg {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            background: linear-gradient(117deg, #009eff 20%, rgba(255, 255, 255, 1) 56%);
            animation: rot 20s ease-in-out 0s infinite;
        }

        .l:hover {

            #first,
            #second,
            #third,
            #fourth {
                scale: 1.6;
            }
        }
    }

    .right {
        position: relative;
        overflow: hidden;

        .bg {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            background: linear-gradient(17deg, #26125b 38%, rgb(255, 255, 255) 56%);
            animation: rot2 20s ease-in-out 0s infinite;
        }

        .l:hover {

            #firsta,
            #seconda,
            #thirda,
            #fourtha {
                scale: 1.6;
            }
        }
    }

    @keyframes rot {
        0% {
            rotate: 0;
            scale: 1;
        }

        25% {
            scale: 8;
        }

        50% {
            rotate: 180deg;
            scale: 5;
        }

        75% {
            scale: 8;
        }

        100% {
            rotate: 0;
            scale: 1;
        }

    }

    @keyframes rot2 {
        0% {
            rotate: 0;
            scale: 1;
        }

        25% {
            scale: 5;
        }

        50% {
            rotate: -180deg;
            scale: 2;
        }

        75% {
            scale: 5;
        }

        100% {
            rotate: 0;
            scale: 1;
        }

    }


    @keyframes blinkc {
        from {
            fill: transparent;
        }

        to {
            fill: white;

        }
    }

    #firsta,
    #seconda,
    #thirda,
    #fourtha,
    #first,
    #second,
    #third,
    #fourth {
        scale: 1.5;
    }

    #firsta {
        fill: #009eff;

        * {
            fill: #009eff;
        }
    }

    #seconda {
        fill: #000000;

        * {
            fill: #000000;
        }
    }

    #thirda {
        fill: #000000;

        * {
            fill: #000000;

        }
    }

    #first,
    #firsta {
        animation: blinkc 200ms linear 0s 1;

        * {
            animation: blinkc 200ms linear 0s 1;
        }
    }

    #second,
    #seconda {
        animation: blinkc 200ms linear 200ms 1;

        * {
            animation: blinkc 200ms linear 200ms 1;
        }
    }

    #third,
    #thirda {
        animation: blinkc 200ms linear 400ms 1;

        * {
            animation: blinkc 200ms linear 400ms 1;
        }
    }
}

@media screen and (max-width:999px) {
    .landing {

        #firsta,
        #seconda,
        #thirda,
        #fourtha,
        #first,
        #second,
        #third,
        #fourth {
            scale: 1.2;
        }
    }
}

@media screen and (max-width:599px) {
    .landing {
        svg {
            width: 50vw;
        }

        #firsta,
        #seconda,
        #thirda,
        #fourtha,
        #first,
        #second,
        #third,
        #fourth {
            scale: 1;
        }
    }
}