.linkbutton {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;

    .wrapper {
        background-color: var(--bg);
        border: 2px solid var(--font);
        border-radius: 5px;
        min-width: 200px;
        max-width: 1000px;
        transition: all 300ms;
        padding: 10px 20px;
        z-index: 1;


        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: var(--font);

        svg {
            width: 30px;
            fill: var(--font);
        }



        a {
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            color: var(--font);

            svg {
                width: 30px;
                fill: var(--font);
            }
        }

        &:hover {
            border-color: var(--bg);
            background-color: var(--font);
            color: var(--bg);

            a {
                color: var(--bg);
            }

            svg {
                fill: var(--bg);
            }
        }

    }
}