.services {
    .longsection {
        .text {
            width: 100%;
        }
    }

    .sectionhome {
        margin-bottom: 0;
    }

    #bg {
        scale: 0.7;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            max-width: 900px !important;
            min-width: 400px !important;
        }
    }
}