.topnavbar {
    background: linear-gradient(139deg, var(--bgtrans) 23%, var(--font) 81%);
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-bottom: 2px solid var(--font);

    position: fixed;
    top: 0;
    z-index: 999;
    width: -webkit-fill-available;

    .left {
        a {
            display: flex;
            align-items: center;

            svg {
                transition: all 200ms;
                width: 50%;
                height: auto;

                fill: var(--font);
                // stroke: var(--font);
                // stroke: var(--font);

                * {
                    fill: var(--font);
                }
            }
        }


        &:hover {
            a {
                svg {
                    scale: 0.95;
                }
            }
        }
    }

    .right {
        svg {
            width: max(30px, 3cqmin);
            height: auto;
            cursor: pointer;
            transition: all 300ms;
            fill: var(--bg);

            &:hover {
                scale: 1.1;
                rotate: 90deg;
            }
        }
    }


    // mobile metti top in alto
    .iconmenu {
        position: fixed;
        top: 50vh;
        left: 5px;

        svg {
            width: 30px;
            stroke: var(--red);
        }
    }
}

@media screen and (max-width:999px) {
    .topnavbar {
        .iconmenu {
            top: 110px
        }
    }

}